body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #1F3044;
  }
  
  h1 {
    text-align: left;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  textarea {
    height: 150px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2b7a69;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 5px 10px -1px inset,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
    
}
.text{
  color: white;
}
.collaboration-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
}
  